@{
    ViewData["Title"] = "About";
}

<h2>About BlockBot</h2>
<p>BlockBot is a platform for building interactive chatbots without programming.</p>
<p>
    Using BlockBot and our custom blocks, businesses can create personalized appointment-scheduling chatbots.
    With BlockBot, individuals with no programming experience can create chatbots.
</p>
<p>
    BlockBot allows creation of chat bots that interface with business' public calendar to show available appointment times.
    Using BlockBot, chat bots can send text and/or email reminders. This is accomplished using services like Twilio.
</p>
<h4>Our Team</h4>
<ul>
    <li>Harley Waldstein</li>
    <li>Rae Corrigan</li>
    <li>Callum Duff</li>
    <li>Kevin Chin</li>
    <li>Gaurav Singh Jawla</li>
    <li>Samuel Aboye</li>
    <li>Siddarth Kannan</li>
</ul>
<br/>
<img src="~/images/logo_built_on_blockly.png" style="height: 3em; width: auto;"/>