@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>
    @ViewData["Google Developers"]
    <img src = "/images/GoogleDevelopers.jpg" width=20% height=15% align="top">
    <img src = "/images/Blockly.svg" width=20% height=20% align="right">
</p>
<p>Blockly is a Javascript Library from Google for building beginner-friendly block-based programming Languages. The Blockly library adds an editor to your app that represents coding concepts as interlocking blocks. It outputs syntactically correct code in the programming language of your choice. Custom blocks may be created to connect to your own application.In a browser, Blockly allows web pages to include a visual code editor for any of Blockly's five supported programming languages like Javascript, PHP, Python, Lua and Dart. Blockly is compatible with all major browsers like Chrome, Firefox, Safari, Opera, and IE. It is also highly customizable and extensible. There are no server-side dependencies. It is pure client side.</p>
<ul>
    <li>Harley Waldstein</li>
    <li>Rae Corrigan</li>
    <li>Callum Duff</li>
    <li> Kevin Chin</li>
    <li> Gaurav Singh Jawla</li>
    <li> Samuel Aboye</li>
    <li> Siddarth Kannan</li>
</ul>
<p>BOTBUILDER is a platform for building interactive chatbots without programming. Using BOTBUILDER and our custom Blocks, businesses can create personalized appointment-scheduling chatbots. With BOTBUILDER, individuals with no programming experience can create chatbots. BOTBUILDER Allows creation of chat bots that interface with business' public calendar to show available appointment times. Using BITBUILDER, chat bots can send text and/or email reminders. This is accomplished using services like twilio. Users can login to a personal page that stores custom made chat bots for editing/integration. There is also a Live-chat option in chatbot for agents to assist customers online.</p>