@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
<br/>
<a asp-controller="Account" asp-action="Login">Continue to Login</a>
