@using Google.Apis.Calendar.v3.Data
@model Google.Apis.Calendar.v3.Data.CalendarList
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach (CalendarListEntry x in Model.Items)
    {
        <li>Name: @x.Summary</li>
    }
</ul>


