@{
    ViewData["Title"] = "Workspace";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Return to the <a asp-controller="Dashboard" asp-action="Dashboard">dashboard</a>.
</p>



@section Scripts{
 <!-- TODO copy blockly scripts here-->
}
