@{
    ViewData["Title"] = "Dashboard";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Edit a program in the <a asp-controller="Workspace" asp-action="Workspace">workspace</a>.
</p>