@{
    ViewData["Title"] = "BlockBot Documentation";
    Layout = "_Layout";
}
<h1>Component Blocks: These blocks are used/integrated by fundamental blocks.</h1>
<img src="~/images/componentMessageText.png" />
<p>Message Text: Is a block that represents a text message sent by your target user that your chatbot will receive.</p>
<img src="~/images/componentMessageSender.png" />
<p>Message Sender: Is a block that retrieves and represents your target user's phone number.</p>
<img src="~/images/componentSendMessage.png" />
<p>Send Message: Is a block that takes in a message in the form of a block (ex. Text Block) that your chatbot sends to your target user.</p>
<img src="~/images/componentOption.png" />
<p>Option: Is a stackable block that represents the menu options to be used with either of the fundamental Prompt Blocks.</p>