@{
    ViewData["Title"] = "BlockBot: End  Conversation";
    Layout = "_Layout";
}
<h1>Fundamental Blocks: End Conversation</h1>
<img src="~/images/endConversation.png" />
<p>This will always be the last block for your chatbot!</p>
<p>As your target user goes through and completes your chatbot dialog, this block will run, marking a chatbot conversation as complete. Thus, future messages from a user will be treated as a new conversation to your chatbot!</p>