@{
    ViewData["Title"] = "BlockBot Documentation";
    Layout = "_Layout";
}

<h2>BlockBot Documentation</h2>
<br />

<h5>Getting Started</h5>
<ul>
    <li><a asp-controller="Docs" asp-action="CreateTwilioAccount">Create a Twilio Account</a></li>
</ul>

<br />

<h5>Block Documentation</h5>
<ul>
    <li>TODO</li>
</ul>