@{
    ViewData["Title"] = "BlockBot: Prompt/Present Options & Prompt/Present Options/Alternative";
    Layout = "_Layout";
}
<h1>Fundamental Blocks: Prompts</h1>
<img src="~/images/prompts.png" />
<p>There are two types of Prompt blocks that you can stack and link to the Start Conversation Block.</p>
<p>As your target user sends a message... These blocks will define the structure and flow of your chatbot dialog.</p>
<p>Prompt: Insert a block (ex. Text Block) to serve as a statement or question message receieved by your target user for the current prompt dialog.</p>
<p>Present Options: Insert Option Blocks to allow your chatbot to present a menu of options to direct your target user.</p>
<p>Alternative: If none of the Present Options are selected by the target user... You can insert Prompt Blocks or Option Blocks here to give your target user alternative actions.</p>