@{
    ViewData["Title"] = "BlockBot: Start Conversation";
    Layout = "_Layout";
}
<h1>Fundamental Blocks: Start Conversation</h1>
<img src="~/images/startConversation.png" />
<p>This will always be the starting base block for your chatbot!</p>
<p>As your target user's first message comes in, this block will initialize and run your chatbot!</p>