@using BlockBot.Web.Data
@inject ApplicationSignInManager SignInManager
@inject ApplicationUserManager UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AccountManage" asp-action="Index">My Account</a> <!-- Hello @UserManager.GetUserName(User)! -->
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link nav-btn nav-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Dashboard", "Dashboard")">Login</a>
        </li>
    </ul>
}